.currently-playing {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.currently-playing__label {
	margin: 8px;
}

.currently-playing__artwork {
	margin: 8px;
}

.currently-playing__track-name {
	text-align: center;
	font-size: 32px;
	font-weight: 900;
	margin: 4px;
}

.currently-playing__artists {
	margin: 8px;
}

.currently-playing__album-name {
	margin: 8px;
}

.currently-playing__progress-bar {
	background: #eee;
	border-radius: 4px;
	height: 6px;
	width: 100%;
}

.currently-playing__progress-fill {
	background: var(--style-color);
	height: 100%;
	border-radius: 4px;
}

.currently-playing__timestamp {
	margin: 8px;
}
