:root {
	/* Light Mode */
	--bg-color: #fcfcfc;
	--outline-color: #585858;
	--text-color: #101010;
	--text-color-dim: #454545;
	--style-color: #9a97ef;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark mode */
		--bg-color: #1c1c1c;
		--outline-color: #545454;
		--text-color: #c5c5c5;
		--text-color-dim: #919191;
	}
}

* {
	box-sizing: border-box;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: "Inter", sans-serif;
}
